In [86]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data=np.array([
    [1,1.3,76.84878],
    [2,1.95,81.40732],
    [3,2.466,77.57895],
    [4,1.6,74.16341],
    [5,2.952,68.84907],
    [6,1.801,73.88595],
    [7,1.34,75.26829],
    [8,1.34,76.26098],
    [9,1.63,80.57244],
    [10,2.326,65.46259],
    [11,2.436,67.5482],
    [12,6.563,55.02451],
    [13,1.283,76.2799],
    [14,1.43,82.29024],
    [15,1.988,69.80695],
    [16,1.61,81.40112],
    [17,1.921,82.29024],
    [18,2.4,74.22683],
    [19,1.495,80.12888],
    [20,4.705,45.55095]
])
df=pd.DataFrame(data, columns=["id",'Fertility rate','Life expectancy at birth'])
df=df.set_index("id")
df

      Fertility rate  Life expectancy at birth
id
1.0            1.300                  76.84878
2.0            1.950                  81.40732
3.0            2.466                  77.57895
4.0            1.600                  74.16341
5.0            2.952                  68.84907
6.0            1.801                  73.88595
7.0            1.340                  75.26829
8.0            1.340                  76.26098
9.0            1.630                  80.57244
10.0           2.326                  65.46259
11.0           2.436                  67.54820
12.0           6.563                  55.02451
13.0           1.283                  76.27990
14.0           1.430                  82.29024
15.0           1.988                  69.80695
16.0           1.610                  81.40112
17.0           1.921                  82.29024
18.0           2.400                  74.22683
19.0           1.495                  80.12888
20.0           4.705                  45.55095

### Średnia Artmetyczna przewidywanej długości życia

In [82]:
data.sum(axis=0)[2]/20

73.237646

### Mediana

In [83]:
x=np.median(data, axis=0)
x[2]

75.764635

### Dominanta

In [87]:
df.loc[:,"Life expectancy at birth"].mode()

0    82.29024
Name: Life expectancy at birth, dtype: float64

###  Wariancja

In [91]:
df['Life expectancy at birth'].var()

88.28195291131578

### Odchylenie standardowe przewidywanej długości życia

In [94]:
import math
math.sqrt(df['Life expectancy at birth'].var())

9.39584764198078

###  Odychelnie standardowe współczynnika dzietności

In [95]:
math.sqrt(df['Fertility rate'].var())

1.2904866727834035

###  Korelacja

In [99]:
df.corr()

                          Fertility rate  Life expectancy at birth
Fertility rate                  1.000000                 -0.820208
Life expectancy at birth       -0.820208                  1.000000

### Przedział ufności

In [116]:
import math
x1=(73.237646-1.96*(9.09/20**(1/2)))
x2=(73.237646+1.96*(9.09/20**(1/2)))
print( x1 ,x2)

69.25377784856727 77.22151415143273